<%- include('header') -%>
<%- include('navbar') -%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Game
                <% if (typeof games === 'undefined') { %>
                    Create
                <% }else{ %>
                    Edit
                <% } %>
            </h2>

            <form method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input value="<%= (typeof games === 'undefined') ? '' : games.Title %>" type="text" class="form-control" id="title" name="title" required>
                </div>

                <div class="form-group">
                    <label for="developer">Developer:</label>
                    <input value="<%= (typeof games === 'undefined') ? '' : games.Developer %>" type="text"  class="form-control" id="developer" name="developer" required>
                </div>

                <% if (typeof games === 'undefined') { %>
                    <div class="form-group">
                        <label for="platform">Choose a platform:</label>
                        <select name="platform" id="platform" class="form-control">
                            <% if (typeof platforms !== 'undefined') { %>
                                <% platforms.forEach(function (platform) { %>
                                    <option value="<%= platform._id %>"><%= platform.Platform_Name %></option>
                                <% }) %>
                            <% } %>
                        </select>
                    </div>
                <% } %>

                <div class="form-group">
                    <label for="dlc">DLC:</label>
                    <input value="<%= (typeof games === 'undefined') ? '' : games.DLC %>" type="text" class="form-control" id="dlc" name="dlc">
                </div>

                <div class="form-group">
                    <label for="releaseDate">Release Date:</label>
                    <input value="<%= (typeof games === 'undefined') ? '' : games.Release_Date %>" type="date" class="form-control" id="releaseDate" name="releaseDate" required>
                </div>


                <input type="submit" class="btn btn-primary" value="Save"/>
                <a class="btn btn-link" href="/">cancel</a>
            </form>
        </div>
    </div>
</div>

<%- include('footer') -%>